
<form > 
    <label for="username">نام کاربری</label>
    <input id="username" type="text" name="user" >
    <br>
    <br>
    <label for="password">رمز عبور</label>
    <input id="password" type="password" name="pass" >
    <br>
    <br>
    <input type="submit" value="ورود">
    
</form> 
  