<!DOCTYPE html>
<html>
  <head>
    <title><%= siteTitle %> | <%= pageTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <nav>
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/login">Login</a>
        <a class="nav-item" href="/dashboard">Dashboard</a>
      </nav>
    </div>
    <hr/>
    <h1><%= pageTitle %></h1>
  </body>
</html>
